brian_jupyter/lang_chain/~/*
brian_jupyter/lang_chain/03_requirements.txt
**/__pycache__/*
brian_jupyter/llms_full_stack/*
brian_js/**/output/*
brian_js/**/node_modules/*
litellm_uuid.txt
temp.py
.venv/*
.env
brian_js/electron_teams/nul
brian_js/**/out/*
.windsurf/*